video {
    width: 640px;
    height: 360px;
    transform: scale(-1, 1);
    border: 1px solid rgb(80, 80, 80);
    background-color: #D8D8D8;
}

.video-container {
    position: relative;
    margin-top: 7.8vw;
    margin-bottom: 4.1vw;
}

.face {
    position: absolute;
    top: 37px;
    left: 245px;
}

@media (max-width: 992px) {
    video {
        width: 480px;
        height: 270px;
    }

    .face {
        position: absolute;
        top: 27.75px;
        left: 183.75px;
        width: 120.75px;
    }
}

@media (max-width: 576px) {
    video {
        width: 360px;
        height: 202px;
    }

    .face {
        position: absolute;
        top: 20.8px;
        left: 137.8px;
        width: 90px;
    }
}